<div class="container">
  <div class="row">
    <div class="col-12 mx-auto">
      <div class="border-bottom border-dark">
        <h4 class="m-3"><span class="bg-light">会員一覧</span></h4>
      </div>
      <% @customers.each do |customer| %>
        <table style="width:100%">
          <tr class="table-secondary">
            <th style="width:10%">会員ID</th>
            <th style="width:30%">氏名</th>
            <th style="width:30%">メールアドレス</th>
            <th style="width:30%">ステータス</th>
          </tr>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to customer.name, admin_customer_path(customer.id) %></td>
            <td><%= customer.email %></td>
            <td>
              <% if customer.is_deleted %>
                <span class="text-secondary font-weight-bold">有効</span>
              <% elsif %>
                <span class="text-success font-weight-bold">退会</span>
              <% end %>
            </td>
          </tr>
        </table>
      <% end %>
      <%= paginate @customers %>
    </div>
  </div>
</div>
