@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
.top-image{
  height:400px;
  width:100%;
  background-size:cover;
  background-image:'app/assets/images/top-image.png';
}
.top-message{
  width:70%;
  display:inline-block;
}
.card{
  margin-bottom:20px;
}
.card-group{
  display:flex;
  flex-wrap:wrap;
}
