@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
.top-image{
  height:500px;
  width:100%;
  backgound-color:yellow;
  backgound-size:contain;
}
.card{
  margin-bottom:20px;
}
.card-group{
  display:flex;
  flex-wrap:wrap;
}
.card-image{
  height:100px;
}