<div class="col-2">
  <table>
    <tr>
      <th>ジャンル検索</th>
    </tr>
    <tr>
      <% genres.each do |genre| %>
        <td><%= link_to genre.name, genre.items_path %></td>
      <% end %>
    </tr>
  </table>
</div>